<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gem.xperiaxposed"
    android:versionCode="030900"
    android:versionName="3.9" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppListActivity"
            android:label="@string/systemui_app_settings"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name=".AppListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppSettingsActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name=".AppSettingsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name=".TutorialActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <meta-data android:value="true" android:name="xposedmodule"/>
        <meta-data android:value="2.0*" android:name="xposedminversion"/>
        <meta-data android:value="Xperia Launcher, Lockscreen and SystemUI tweaks" android:name="xposeddescription"/>
    </application>

</manifest>
